
<div class="container-fluid p-0">
    <h1 class="text-primary">Remove unused CSS</h1>
    <p class="text-black">A tool to extract only used <b>CSS</b> from Chrome DevTools' Coverage Tools Export.</p>
    <p class="text-black">This procedure helps reducing assets file sizes in order to deliver <b>Web Contents</b> to the final user faster.</p>
    <h6 class="d-inline-block text-left pt-4">NOTE:</h6><p class="text-black">This tool is also capable to extract <b>JS</b> files, but after several testing i decided to remove the option because the Coverage Tool doesn't produce out-of-the-box <b>JS</b> usable files 😔</p>
</div>

<div class="container-fluid p-0 pt-5">
    <h3 class="text-primary">Step 1</h3>
    <p class="text-black">Open your Website > Inspect Element (<b>F12</b> or <b>CTRL</b> + <b>SHIFT</b> + <b>I</b>) > Console > press <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="1" />
        <circle cx="12" cy="19" r="1" />
        <circle cx="12" cy="5" r="1" />
      </svg> from the second bottom bar > Coverage > Reload the page > Press <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
        <polyline points="7 11 12 16 17 11" />
        <line x1="12" y1="4" x2="12" y2="16" />
      </svg> and export your <b>coverage.json</b></p>
      <p>More info <u><a class="text-secondary text-decoration-underline font-weight-light" href="https://developer.chrome.com/docs/devtools/coverage/" target="_blank">here</a></u></p>
</div>

<div class="container-fluid p-0 pt-5">
    <h3 class="text-primary">Step 2</h3>
    <p class="text-black">Upload your exported <b>coverage.json</b> file here</p>
</div>

        <form [formGroup]="uploadForm" (submit)="parse()">
            <div class="form-group">
              <span #uploadbtn class="file-input btn btn-secondary btn-file text-white w-100 rounded-0 border-0 py-3">
                {{ fileName }} <input type="file" class="form-control" formControlName="file" id="file" (change)="handleFileInput($event.target)" accept=".json" required>
              </span>
            </div>

            <div class="container-fluid p-0 pt-5">
                <h3 class="text-primary">Step 3</h3>
                <p class="text-black">Download the <b>ZIP</b> file with your purified <b>CSS</b>🎉</p>
            </div>

            <button type="submit" class="btn btn-primary w-100 rounded-0 py-3 border-0" [disabled]="disabled">Download CSS ZIP
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                    <polyline points="7 11 12 16 17 11" />
                    <line x1="12" y1="4" x2="12" y2="16" />
                  </svg>
            </button>
          </form>

    