$primary: #092C4C;
$secondary: #F2994A;
$info: #2F80ED;
$success: #27AE60;
$warning: #E2B93B;
$error: #EB5757;
$gray: #BDBDBD;
$gray-dark: #828282;
$muted: #BDBDBD;
$enable-responsive-font-sizes: true;

@import '../node_modules/bootstrap/scss/bootstrap.scss';